{% extends 'base.html.twig' %}

{% block title %} Home{% endblock %}
{% block front_nav_right_section %}{% endblock %}

{% block body %}
<div class="container">
<section class="container">  
  <div class="slideshow_wrapper">  
    <div class="slideshow">      
      <div class="slide_one slide">
		<img src="https://image.shutterstock.com/image-illustration/set-small-kitchen-home-appliances-260nw-1128456290.jpg" />
      <div class="caption">
        <h1>WORLD</h1>
      </div>
      </div>
      
      <div class="slide_two slide">
<img src="https://www.lampsplus.com/images/landing-pages/table-lamps/1-splash-mobile-Table-Lamps.jpg" />
      <div class="caption">
        <h1>FULL OF</h1>
      </div>
      </div>
      
      <div class="slide_three slide">
<img src="https://media.istockphoto.com/photos/kitchen-appliances-blender-toaster-coffee-machine-meat-ginde-picture-id508545404?k=6&m=508545404&s=612x612&w=0&h=_61av3m9Ib4TGJNS9jMsCy7u-BFHIrIiDIjeMzOgRYo=" />      
      <div class="caption">
        <h1> ELECTRICAL APPLIANCES</h1>
      </div>
      </div>    
    </div>   
  </div>
</section>  
    <div class="row">
        <div class="row">
            {% for product in products %}
                <div class="col-md-6">
                    <div class="jumbotron">
                        <div class="col-sm-8">
                            <div class="card-body d-flex flex-column align-items-start">
                                {# <strong class="d-inline-block mb-2 text-primary">World</strong> #}
                                <h3 class="mb-0">
                                    <a class="text-dark" href="{{path('show_product', {id: product.getId()})}}">{{product.getName()}}</a>
                                </h3>
                                <div class="mb-1 text-muted">{{product.getCreatedAt()|date(date_format)}}</div>
                                <p class="card-text mb-auto">{{product.getColor()|striptags|slice(0, 50)}}</p>
                                <a href="{{path('show_product', {id: product.getId()})}}">Continue reading</a>
                            </div>
                        </div>
                        {# <div class="col-sm-4"><img src="{{('uploads/product/' ~ product.getImage()) }}" width="170px" height="60px" alt="logo"></div> #}
                        <div class="col-sm-4"><img data-src="holder.js/200x250?theme=thumb" width="170px" height="150px" alt="Thumbnail [200x250]" style="max-width: 100%;" src="{{('uploads/images/' ~ product.getImage()) }}" data-holder-rendered="true"></div>
                        <div class="clearfix"></div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
</div>
{% endblock %}
{% block javascripts %}{% endblock %}